@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.react-datepicker__day--disabled {
  background-color: #fecaca !important;
  color: #991b1b !important;
  cursor: not-allowed;
}

.react-datepicker__day--selected {
  background-color: #16a34a !important;
}
